@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e7dbcf;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ec7f13;
}

.dark ::-webkit-scrollbar-thumb {
  background: #3f3328;
}
